<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ErrorPage</title>
    <style type='text/css'>
        body {
            background: tomato;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2>Sorry! This username or email already exists...</h2>
    <p>Please choose another name or email!</p>
    <a href="/">Back to Home</a>
</body>

</html>