<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1>Hallo! </h1>
    <form action='/user' method='POST' enctype='multipart/form-data'>
        <!--  <input type="text" name="vorname" id="vorname" placeholder="Vorname">
        <input type="text" name="nachname" id="nachname" placeholder='Nachname'> -->
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="file" name="image" id="image">
        <input type="submit" value="create Profile">
    </form>

    <% userArray.forEach(user=> { %>
        <a href='/user/<%-user.username %> '>
            <h2>
                <%- user.username %>
            </h2>
            <p>
                <%- user.email %>
            </p>
            <img src='/uploads/<%- user.image  %>' width='200' />
        </a>
        <% }) %>
</body>

</html>